.card {
  width: 100%;
  max-width: $card-width;
}

.card__body {
  background-color: $color-white;
  border-radius: 0;
}

.card__body:not(:last-child) {
  margin-bottom: 2rem;
}

.card__header {
  background-color: $color-blue-light-1;
  padding: 1.4rem 1.4rem;
}

.card__title {
  color: $color-gray-dark-3;
  font-weight: 700;
}

.card__date {
  color: $color-gray-dark-1;
  font-size: 1.2rem;
  padding-top: .2rem;
  text-transform: uppercase;
}

.card__image {
  display: block;
  max-width: 100%;
  object-fit: cover;
  border-radius: 0;
}