$color-white: #fff;
$color-black: #000;

$color-gray-light-1: #efefef;
$color-gray-light-2: #ccc;

$color-gray-dark-1: #777;
$color-gray-dark-2: #5a5a5a;
$color-gray-dark-3: #3a3a3a;;

$color-blue-light-1: #e0e7ea;
$color-blue: #2196f3;

$color-red: #fd5246;
$color-green: #57ce5c;

$card-width: 72rem;
$default-border-radius: .5rem;